
<div style="position: relative">
    <div class="outside-square d-flex">
        <div>
            <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/90/93/20/20120876.jpg">
        </div>
        <div>
            <%= simple_form_for(@movie) do |f| %>
                <div class="row">
                    <div class="col-sm-5">
                        <%= f.input :title, label: 'Título:', autofocus: true, input_html:{class: "form-control"} %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <%= f.input :director, label: 'Diretor: ', input_html:{class: "form-control"} %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <%= f.association :shelf,
                            as: :select,
                            label: 'prateleira',
                            input_html: {class: "form-control"} %>
                    </div>
                </div>
                <div class="row">        
                    <div class="col-sm-5">
                        <%= f.input :image_link, label: 'Imagem (link): ',
                        input_html: {class: "form-control"}%>
                    </div>
                </div>
                <div class="row d-flex mt-2">        
                    <div class="col-sm-5 d-flex">
                        <%= f.button :button, type:"reset", value: "Limpar", class:"btn btn-outline-dark btn-sm", style:"width: 168px;" do %> Limpar <% end %>
                        <%= f.submit value: "Salvar", class:"btn btn-outline-dark btn-sm", style:"width: 168px;"%>
                    </div>            
                </div>
            
            <% end %>
        </div>
    </div>
</div>